
@model List<Presentation.Models.ShoppingCartViewModel>
<title>Cart Page</title>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>
    <a href="/">
        <button class="btn"><i class="fa fa-home"></i></button>
    </a>
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">

            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Item in Cart</h6>
                    <h5 class="m-0 font-weight-bold text-md-right"> Cart has @Model.Count item</h5>
                </div>
                @if (Model.Any())
                {

                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th hidden scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="productBinding">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden>@item.Product.Id</td>
                                    <td>@item.Product.Name</td>
                                    <td>@item.Quantity</td>
                                    <td class="text-center">
                                        <button cart-id="@item.Product.Id" type="button" class="btn btn-light removefromcart">Remove To Cart</button>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                    @if (Model.Count != 0)
                    {
                        <button id="removeall" type="button" class="btn btn-success view-more">Remove All</button>
                    }
                }
                else
                {
                    <div class="card-body">
                        <p>Not Found Product in Cart</p>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('body').on('click', '.view-more,#removeall', function (e) {
                e.preventDefault();
                $.ajax({
                    type: "GET",
                    url: '/Home/ClearCart',
                    data: {
                    },
                    // contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        //  alert('success');
                        console.log(response);
                        pageIndex++;

                    },
                    error: function (response) {
                        alert('Remove Success !')
                        setInterval('location.reload()', 1000);
                    }
                });
            });
        });



        $(document).ready(function () {
            $('body').on('click', '.removefromcart', function (e) {
                e.preventDefault();
                var id = $(this).attr("cart-id");
                $.ajax({
                    type: "POST",
                    url: '/Home/RemoveFromCart',
                    data: {
                        productId: id
                    },
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        pageIndex++;

                    },
                    error: function (response) {
                        alert("Remove Succes !");
                        setInterval('location.reload()', 1000);
                        var a = response.responseJSON.length;
                        console.log(a);
                        $("#productCount").text(response.responseJSON.length)
                    }
                });
            });
        });
    </script>

}
